<!DOCTYPE html>
<head>
	<title>Footer</title>
</head>
<body>
	<footer class="footer">
	    <div class="footer-section">
	        <h3>About Us</h3>
	        <p>Who We Are?</p>
	        <p>Vision</p>
	        <p>Mission</p>
	        <p>Our Values</p>
	        <p>Our Approach</p>
	    </div>

	    <div class="footer-section">
	        <h3>Our Programs</h3>
	        <p>Coding on Wheels</p>
	        <p>Coding Education in Schools</p>
	        <p>Women Empowerment</p>
	        <p>Livelihoods</p>
	    </div>

	    <div class="footer-section">
	        <h3>Campaign</h3>
	        <p>Padho Bhi</p>
	        <p>Padhaon Bhi</p>
	        <p>Corporate Training</p>
	        <p>Training for Social Cause</p>
	    </div>

	    <div class="footer-section">
	        <h3>Resources</h3>
	        <p>Media</p>
	        <p>Gallery</p>
	        <p>Annual Reports</p>
	        <p>Publications</p>
	    </div>

	    <div class="footer-section">
	        <h3>Get Involved</h3>
	        <p>Support from Individuals</p>
	        <p>Payroll Giving</p>
	        <p>Sponsorships</p>
	        <p>Volunteer & Internship</p>
	        <p>Career</p>
	    </div>

	    <div class="footer-section">
	        <h3>Contact</h3>
	        <p>Contact Us</p>
	    </div>

	    <div class="footer-section">
	        <h3>Donate</h3>
	        <p>Donate</p>
	    </div>
	</footer>
</body>
</html>